
<% if flash[:notice] %>
<div class="ui icon message">
  <i class="shop icon"></i>
  <div class="content">
    <div class="header">Successfully added to shopping cart!</div>
    <p><%= flash[:notice] %></p>
  </div>
  <div class="ui buttons">
      <%= button_to  "Continue Shopping", root_path, class: "ui blue button", method: :get %>
      <div class="or"></div>
      <%= button_to "Checkout", new_order_path, class: "ui green button", method: :get %>
  </div>
</div>
<% end %>
<section class="ui grid">
  <section class="ten wide column">
    <div class="owl-carousel">
      <% @product.skus.each do |sku| %>
      <div data-hash="<%= "sku_#{sku.id}" %>">
        <%= image_tag sku.picture.url(:large), class: "ui image fluid" %>
      </div>
      <% end %>
    </div>
    <div class="ui menu" data-turbolinks="false">
        <% @product.skus.each_with_index do |sku, i| %>
          <%= link_to image_tag(sku.picture.url(:thumb), class: "ui image fluid"), "#sku_#{sku.id}", 
              class: "item" + (i == 0 ? " active" : "") %>
        <% end %>
    </div>
  </section>
  <aside class="six wide column">
    <div class="owl-carousel">
      <% @product.skus.each do |sku| %>
        <div class="ui fluid card" data-hash="<%= "sku_#{sku.id}"%>">
          <div class="content">
            <h2 class="ui dividing header center aligned"><%= @product.name %></h2>
            <span class="ui blue ribbon label">In Stock:<%= sku.quantity %></span>  
            <h2 class="ui header center aligned"><%= number_to_currency(sku.price, prescision: 2) %></h2>
            <!-- Product Details -->
            <h3 class="ui dividing header">Product Details</h3>
            <div class="meta">Updated <%= time_ago_in_words(sku.updated_at.to_time) %> ago</div>
            <div class="description">
              <p><strong>Caption:</strong> <%= @product.caption %></p>
              <p><strong>Description:</strong> <%= @product.description %></p>
            </div>
            <h3 class="ui dividing header">Product Attributes</h3>
            <div>
              <% sku.option_values.each do |option_value| %>
                <p><strong><%= option_value.option.name  %>:</strong> <%= option_value.value %></p>
              <% end %>
            </div>
            <%= form_tag add_to_cart_path(sku), id: "add_to_cart_" + sku.id.to_s do |f| %>
              <div class="field">
              <%= label_tag(:quantity, content_tag(:strong, "Quantity: ")) %>
              <%= number_field_tag :quantity, 1 ,min: 1, max: sku.quantity, class: "disable-owl-swipe"%>
              </div>
            <% end %>
          </div>
          <div class="extra content">
              <%= button_tag class: "ui labeled icon fluid primary button", form: "add_to_cart_" + sku.id.to_s do %>
                <i class="shop icon"></i>
                Add to Cart
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </aside>
</section>