
<section class="ui grid">
  <div class="two wide column">
    <div class="ui segment ">
      <ul class="ui images" id="sku_images">
        <%= @product.skus.each do |sku| %>
          <li><%= image_tag sku.picture.url(:thumb), class: "ui image fluid" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="eight wide column">
      <%= image_tag @product.skus.first.picture.url(:large), class: "ui image fluid"  %>
  </div>
  <div class="six wide column">
    <div class="ui fluid card">
      <div class="content">
        <h3 class="ui dividing header center aligned"><%= @product.name %></h3>
        <h3 class="ui header center aligned"><%= number_to_currency(@product.skus.first.price, prescision: 2) %></h3>
        <h3 class="ui dividing header">Product Details</h3>
        <div class="meta">Updated <%= time_ago_in_words(@product.skus.first.updated_at.to_time) %> ago</div>
        <div class="description">
          <p><strong>Caption:</strong> <%= @product.caption %></p>
          <p><strong>Quantity:</strong> <%= @product.skus.first.quantity %></p>  
          <p><strong>Description:</strong> <%= @product.description %></p>
        </div>
      </div>
      <div class="extra content">
        <%= link_to root_path, class: "ui labeled icon fluid primary button" do %>
          Add to Cart
          <i class="shop icon"></i>
        <% end %>
      </div>
    </div>
  </div>
</section>