<!DOCTYPE html>
<html>
  <head>
    <title>Dare and Innovate Yourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="ui header">
      <%= render  "common/main_menu" unless @disable_main_menu %>
      <%= render "common/pages_menu" if @enable_pages_menu %>
    </header>
    <main class="ui container">
      <%= yield %>
    </main>
  </body>
</html>
